/**
 *
 * Detail Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 17-Nov-2024
*/

.container {

  .content {
    max-width: 102.4rem;
    width: 100%;
  }

  .title {
    margin-bottom: 4rem;
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .alert {
    align-items: center;
    bottom: 5rem;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    left: 50%;
    max-width: 16rem;
    opacity: 0;
    padding: 1.2rem;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    width: 100%;

    &.export {
      max-width: 20rem;
    }

    &.isActive {
      bottom: 10rem;
      opacity: 1;
    }
  }
}