// Path
$assets-image-url: "/assets/";

// Font Family
$font-family: 'Playfair Display', serif;

// Colors
$brand-color: #E91E63;
$brand-secondary-color: #12e7d9;
$selected-color: #f8d4ba;

// Black, White and Grey Scale
$white: #fff;
$black: #000;

// Breakpoint
$break-desk: 80em;
$break-tablet-land: 64em;
$break-tablet-port: 48em;
$break-phone: 30em;
$break-small-phone: 20em;