/**
 *
 * Footer Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 17-Nov-2024
*/

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.6rem;
  min-height: 6rem;
  z-index: 3;
}